body {
    margin: 0;
    background-color: #ffffff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}



/* common start */
.d-flex { display: flex; }

.align-items-center { align-items: center; }

.text-center { text-align: center; }

.vertical-align-text-bottom { vertical-align: text-bottom; }
/* common end */



/* header start */
.header {
    height: 63px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 24px;
}

.site-title { flex: 1; }

.site-title a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}
/* header end */



/* nav start */
.nav {
    justify-content: space-between;
    height: 48px;
    padding: 0 24px;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

.nav a:hover { text-decoration: underline; }
/* nav end */



/* footer start */
.footer {
    margin-top: 48px;
    margin-bottom: 32px;
}

.footer p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

#backToTop {
    position: fixed;
    right: 2%;
    top: 90%;
}
/* footer end */



/* article page start */
.article {
    margin: 0 auto;
    padding: 0 24px;
}

.article .title {
    margin: 0 0 0.35em 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.0075em;
}

.article .info {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.9rem;
    font-weight: 400;
}

.article .info * {
    margin-left: 10px;
}

.article .info a {
    margin-left: 0;
    color: #222;
    text-decoration: none;
}

.article .info a:hover {
    text-decoration: underline;
}

.article .markdown-body {
    box-sizing: border-box;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .article { padding: 0; }
    .article .markdown-body { max-width: 100%; }
}

/* hljs start */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote { color: #8e908c; }

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion { color: #c82829; }

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link { color: #f5871f; }

/* Tomorrow Yellow */
.hljs-attribute { color: #eab700; }

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition { color: #718c00; }

/* Tomorrow Blue */
.hljs-title,
.hljs-section { color: #4271ae; }

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag { color: #8959a8; }

.hljs {
    display: block;
    overflow-x: auto;
    background: white;
    color: #4d4d4c;
    padding: 0.5em;
}

.hljs-emphasis { font-style: italic; }

.hljs-strong { font-weight: bold; }
/* hljs end */

/* license start */
.license {
    padding: 20px 10px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.license svg {
    color: #333;
    margin: 0 2px;
    width: 24px;
    height: 24px;
}
.license span {
    margin-left: 6px;
    color: #666;
    font-size: 14px;
}
.license span a {
    color: #666;
    text-decoration: none;
}
.license span a:hover {
    text-decoration: underline;
}
/* license end */

/* comment start */
.comments-count { margin-left: -20px; }
.comments {
    padding-left: 20px;
    margin-bottom: 10px;
}
.comments a {
    text-decoration: none;
    color: #555;
}
.comments a:hover {
    text-decoration: underline;
}
.comment {
    padding-bottom: 10px;
}
.comment-author {
    color: #555;
    font-size: 14px;
}
.comment-date {
    color: #999;
    font-size: 11px;
}
.comment-avatar {
    float: left;
    margin-right: 20px;
}
.comment-avatar img {
    border-radius: 50%;
}
.comment-content-container {
    margin-left: 68px;
}
.comment-content-container p {
    margin: 10px 0;
}
.comment-content {
    font-size: 14px;
    color: #333;
}
.child {
    margin-left: 68px;
}
.reply {
    margin-left: 10px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.reply:hover {
    text-decoration: underline;
}
.comment-form * {
    box-sizing: border-box;
}
.comment-form textarea, .comment-form input {
    width: 100%;
    border: #e0e0e0 solid 1px;
    border-radius: 3px;
    padding: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #888;
    font-size: 14px;
}
.comment-form textarea:focus, .comment-form input:focus {
    outline: none;
    color: #333;
}
.comment-form textarea {
    resize: none;
    height: 200px;
}
.comment-form button {
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    border: 1px solid #555;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.comment-form button:hover {
    background-color: #555;
    color: #fff;
}
/* comment end */
/* article page end */



/* index page start */
.first-article {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    max-width: 100%;
    color: #fff;
    background-color: #424242;
    border-radius: 4px;
    padding: 36px 24% 36px 36px;
}

.first-article h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.04;
    letter-spacing: 0;
    margin: 0 0 0.45em 0;
}

.first-article a {
    color: #fff;
    text-decoration: none;
}

.first-article a:hover {
    color: #999;
}

.first-article p {
    margin: 0 0 16px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.33;
}

.content {
    display: flex;
    width: calc(100% + 40px);
    margin: 24px -20px -20px -20px;
}

.articles {
    width: 66.666667%;
    padding: 18px;
    box-sizing: border-box;
}

.article .title a {
    text-decoration: none;
    color: #222;
}

.article .title a:hover {
    color: #666;
}

.article .date {
    margin: 0 0 16px 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}



.aside {
    width: 33.333333%;
    padding: 18px;
    box-sizing: border-box;
}



.aside .title {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.aside p {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    margin: 0;
}

/* tags start */

.aside .tags {
    padding: 14px;
    background-color: #eeeeee;
    border-radius: 4px;
}

.aside .tags span a {
    margin: 5px;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    text-decoration: none;
}

.aside .tags span a:hover {
    text-decoration: underline;
}

.aside .tags .l1 a {
    color: #444;
    font-size: 1.3rem;
}

.aside .tags .l2 a {
    color: #555;
    font-size: 1.2rem;
}

.aside .tags .l3 a {
    color: #666;
    font-size: 1.1rem;
}

.aside .tags .l4 a {
    color: #777;
    font-size: 1rem;
}

.aside .tags .l5 a {
    color: #888;
    font-size: 0.9rem;
}

.aside .tags .l6 a {
    color: #999;
    font-size: 0.8rem;
}


/* tags end  */



h6 {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.articles hr {
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}
/* index page end */



/* other */
.error-info {
    margin: 20%;
    font-weight: 400;
}

@media (max-width: 1080px) {
    .container {
        width: auto;
        margin: 0 24px;
    }
}

@media (max-width: 600px) {
    .nav { display: none; }
}

@media (max-width: 860px) {
    .aside { display: none; }
    .articles { width: 100%; }
    .first-article { padding-right: 46px; }
}
