body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

@media (max-width: 1080px) {
    .container {
        width: auto;
        margin: 0 24px;
    }
}



/* commons start */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}
/* commons end */

/* header start */
.header {
    height: 63px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 24px;
}

.site-title {
    flex: 1;
}

.site-title a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}
/* header end */

/* nav start */
.nav {
    justify-content: space-between;
    height: 48px;
    padding: 0 24px;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

.nav a:hover {
    text-decoration: underline;
}
/* nav end */



.footer {
	margin-top: 48px;
	margin-bottom: 32px;
}

.footer p {
	color: rgba(0, 0, 0, 0.54);
	font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

#backtotop {
	position: fixed;
	right: 3%;
	top: 90%;
}

.backtotop-ico {
	color: #222222;
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
}


.first-article {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    max-width: 100%;
    color: #fff;
    background-color: #424242;
    border-radius: 4px;
    padding: 46px;
    padding-right: 20%;
}

.first-article h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.04;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 0.45em;
}

.first-article a {
    color: #fff;
    text-decoration: none;
}

.first-article a:hover {
    color: #999;
}

.first-article p {
    margin: 0;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.33;
}








.content {
    display: flex;
    width: calc(100% + 40px);
    margin: -20px;
    margin-top: 24px;
}


.articles {
    max-width: 66.666667%;
    padding: 20px;
    box-sizing: border-box;
}



.article {
    padding: 24px 0;
}

.article .title {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.article .title a {
    text-decoration: none;
    color: #222;
}

.article .title a:hover {
    color: #666;
}

.article .date {
    margin: 0;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.article p {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}







.aside {
    max-width: 33.333333%;
    padding: 20px;
    box-sizing: border-box;
}



.aside .title {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.aside p {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    margin: 0;
}

/* tags start */

.aside .tags {
    padding: 16px;
    background-color: #eeeeee;
    border-radius: 4px;
}

.aside .tags span a {
    margin: 5px;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    text-decoration: none;
}

.aside .tags span a:hover {
    text-decoration: underline;
}

.aside .tags .l1 a {
    color: #444;
    font-size: 1.3rem;
}

.aside .tags .l2 a {
    color: #555;
    font-size: 1.2rem;
}

.aside .tags .l3 a {
    color: #666;
    font-size: 1.1rem;
}

.aside .tags .l4 a {
    color: #777;
    font-size: 1rem;
}

.aside .tags .l5 a {
    color: #888;
    font-size: 0.9rem;
}

.aside .tags .l6 a {
    color: #999;
    font-size: 0.8rem;
}


/* tags end  */



h6 {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.articles hr {
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}





@media (max-width: 600px) {
    .header {
        border-bottom: unset;
    }
    .nav {
        display: none;
    }
}

@media (max-width: 960px) {
    .articles {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .aside {
        display: none;
    }
    .first-article {
        padding-right: 46px;
    }
}