body {
    margin: 0 24px;
    background-color: #fafafa;
}

.container {
    width: auto;
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    height: 63px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 24px;
    align-items: center;
}

.header h2 {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.33;
    margin: 0;
}

.nav {
    justify-content: space-between;
    height: 48px;
    padding: 0 24px;
    display: flex;
    align-items: center;
}


.nav a {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
    letter-spacing: .01071em;
}

.nav a:hover {
    color: #000;
    text-decoration: underline;
}

.copyright {
    margin-top: 48px;
    margin-bottom: 32px;
}

.copyright p {
    color: rgba(0, 0, 0, .54);
    text-align: center;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .01071em;
}

.copyright a {
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}


.first-article {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    max-width: 100%;
    color: #fff;
    background-color: #424242;
    border-radius: 4px;
    padding: 46px;
    padding-right: 20%;
}

.first-article h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.04;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 0.45em;
}

.first-article a {
    color: #fff;
    text-decoration: none;
}

.first-article a:hover {
    color: #999;
}

.first-article p {
    margin: 0;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.33;
}


.content {
    display: flex;
    width: calc(100% + 40px);
    margin: -20px;
    margin-top: 24px;
}


.articles {
    max-width: 66.666667%;
    padding: 20px;
}


.article {
    padding: 24px 0;
}

.article .title {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.article .title a {
    text-decoration: none;
    color: #222;
}

.article .title a:hover {
    color: #666;
}

.article .date {
    margin: 0;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.article p {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}


.aside {
    max-width: 33.333333%;
    padding: 20px;
}


.aside .title {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.aside p {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    margin: 0;
}

/* tags start */
.aside .tags {
    padding: 16px;
    background-color: #eeeeee;
    border-radius: 4px;
}

.aside .tags span a {
    margin: 5px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    text-decoration: none;
}

.aside .tags span a:hover {
    text-decoration: underline;
}

.aside .tags .level-1 a {
    color: #333;
    font-size: 1.325rem;
}

.aside .tags .level-2 a {
    color: #555;
    font-size: 1.175rem;
}

.aside .tags .level-3 a {
    color: #777;
    font-size: 1.025rem;
}

.aside .tags .level-4 a {
    color: #999;
    font-size: 0.875rem;
}

/* tags end  */


h6 {
    margin: 0;
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.articles hr {
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

.overflow-hidden {
    overflow: hidden;
}

.bg {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.mobile-nav-menu {
    margin-right: -24px;
    display: none;
    height: 33px;
    width: 33px;
    cursor: pointer;
}

.mobile-nav {
    background: #fff;
    height: 100%;
    left: 0;
    max-width: 25rem;
    min-width: 11.25rem;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 60%;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
}

.mobile-nav li {
    padding: 13px 24px;
}

.mobile-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.mobile-nav li:hover {
    text-decoration: none;
    background: #eee;
}

.mobile-nav .close {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.mobile-nav .close img {
    height: 33px;
    width: 33px;
    cursor: pointer;
}


@media (max-width: 600px) {
    .header {
        border-bottom: unset;
    }

    .nav {
        display: none;
    }

    .mobile-nav-menu {
        display: block;
    }

}

@media (max-width: 960px) {
    .articles {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .aside {
        display: none;
    }

    .first-article {
        padding-right: 46px;
    }
}